@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;1,100&display=swap");

:root {
  --primary-color: #fe2c55;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

//font embedded
@font-face {
  font-family: "TikTokDisplayFont-bold";
  src: url("/assets/fonts/TikTokDisplayFont-Bold.woff2/");
  font-weight: 700;
}
@font-face {
  font-family: "TikTokDisplayFont-Regular";
  src: url("/assets/fonts/TikTokDisplayFont-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TikTokFont-Bold";
  src: url("/assets/fonts/TikTokFont-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "TikTokFont-Regular";
  src: url("/assets/fonts/TikTokFont-Regular (1).woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TikTokFont-Semibold";
  src: url("/assets/fonts/TikTokFont-Semibold.woff2");
  font-weight: 600;
}
//scroll
/* Customize the scrollbar track and thumb for all elements */
* {
  scrollbar-color: rgba(22, 24, 35, 0.06) transparent;
  scrollbar-width: thin;
}

/* Style the thumb separately */
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

/* Reset the scrollbar track styling for non-webkit browsers */
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif, Arial, Tahoma, PingFangSC;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: #333;
  text-decoration: none;
}
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03px;
    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
    top: -8px;
  }
  .tippy-content {
    padding: 10px;
  }
}
